---
import Container from "./ui/Container.astro";
import Link from "./ui/Link.astro";
---

<section id="authors-guidelines" class="scroll-mt-24">
  <Container>
    <h1
      class="text-center text-2xl font-bold text-[#06202B] dark:text-[#06202B] md:text-4xl mb-8"
    >
      Authors Guidelines
    </h1>

    <div class="mt-8 text-[#06202B] dark:text-[#06202B]">
      <h3 class="text-2xl font-bold text-[#06202B] dark:text-[#06202B] mb-4 text-center">
        Ethical Responsibilities
      </h3>
      <p class="text-justify">
        Ethical Responsibilities All authors must comply with Springer ethical
        standards, as detailed in Springer <Link
          class="text-[#077A7D]"
          href="https://www.springernature.com/gp/authors/book-authors-code-of-conduct"
          >Code of Conduct</Link
        >. Please read all of the sections of this Code carefully and make sure
        that your paper complies with them. In addition, authors are instructed
        to read the following documents for complete authors guidelines.
        <br />
        <Link
          class="text-[#077A7D]"
          href="https://www.springer.com/gp/computer-science/lncs/conference-chapter-guidelines"
          >Instructions for Chapter Authors</Link
        >
      </p>
    </div>

    <div class="mt-8 text-[#06202B] dark:text-[#06202B]">
      <h3 class="text-2xl font-bold text-[#06202B] dark:text-[#06202B] mb-4 text-center">
        Preparation of Your Manuscript
      </h3>
      <p class="text-justify">
        Your contribution may be prepared in LaTeX or Microsoft Word. Please use
        the following templates provided on the <Link
          class="text-[#077A7D]"
          href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines"
          >authors' page</Link
        >.
        <br />
        <Link
          class="text-[#077A7D]"
          href="https://resource-cms.springernature.com/springer-cms/rest/v1/content/19238648/data/v8"
          >LaTeX2e Proceedings Templates</Link
        >
        <br />
        <Link
          class="text-[#077A7D]"
          href="https://resource-cms.springernature.com/springer-cms/rest/v1/content/19238706/data/v3"
          >Microsoft Word Proceedings Templates</Link
        >
        <br />
        <Link
          class="text-[#077A7D]"
          href="https://resource-cms.springernature.com/springer-cms/rest/v1/content/7117506/data/v1"
          >Microsoft Word 2003 Proceedings Templates</Link
        >
        <br />
        Springer encourages authors to include their <Link
          class="text-[#077A7D]"
          href="https://www.springer.com/gp/authors-editors/orcid?wt_mc=Other.Other.1.AUT642.ORCID+proceedings+pilot+2017&utm_medium=other&utm_source=other&utm_content=8232017&utm_campaign=1_barz01_orcid+proceedings+pilot+2017"
          >ORCIDs</Link
        >
        in their papers. Another feature Springer now offers is the inclusion of
        <Link
          class="text-[#077A7D]"
          href="https://www.springer.com/gp/computer-science/lncs/embedded-videos/15066970"
          >embedded videos</Link
        >
        in proceedings papers. Springer's proceedings LaTeX templates are
        available in <Link
          class="text-[#077A7D]"
          href="https://www.overleaf.com/latex/templates/springer-lecture-notes-in-computer-science/kzwwpvhwnvfj#.WuA4JS5uZpi"
          >Overleaf</Link
        >. Overleaf is an open-source online real-time collaborative LaTeX
        editor used for writing, editing and publishing scientific documents.
      </p>

      <div class="mt-8 text-[#06202B] dark:text-[#06202B]">
        <h3 class="text-2xl font-bold text-[#06202B] dark:text-[#06202B] mb-4 text-center">
          Length of Manuscript
        </h3>
        <p class="text-justify">
          The most common types of papers accepted for publication are full
          papers (12-15+ pages) and short papers (&lt;12 pages), formatted in
          Springer Template, where a page constitutes 300-400 words. We only
          wish to publish papers of significant scientific content. Very short
          papers (&lt;6 pages) are not allowed.
        </p>
      </div>
    </div>

    <div class="mt-8 text-[#06202B] dark:text-[#06202B]">
      <h3 class="text-2xl font-bold text-[#06202B] dark:text-[#06202B] mb-4 text-center">
        License-to-Publish Form
      </h3>
      <p class="text-justify">
        You will have to send us the signed copy of License-to-Publish form as a
        scanned PDF, after the acceptance of your manuscript. The corresponding
        author (one per paper), who must match the corresponding author marked
        in the header of the paper, must have the full right, power, and
        authority to sign the agreement on behalf of all of the authors of a
        particular paper, and accepts responsibility for releasing this
        material on their behalf. Digital signatures are not acceptable. The
        corresponding author should be available to check the paper before it
        is published. Please note that once a paper has been delivered to
        Springer, changes relating to the authorship of the paper cannot be
        made. Authors’ names cannot be added or deleted, their order cannot be
        changed, and the corresponding author cannot be altered. The
        corresponding author signing the copyright form should match the
        corresponding author marked on the paper.
        <br />
   <a
  href="https://docs.google.com/document/d/1koL6M0pLon0sWMH1MV2PlItgvs2YCfiN/export?format=docx"
  download="licence-to-publish.docx"
  style="color: #077A7D;"
>
  CCIS License to Publish form
</a>
      </p>
    </div>
  </Container>
</section>