---
import Container from "./ui/Container.astro";
import Link from "./ui/Link.astro";
---

<section id="authors-guidelines">
  <Container>
    <div class="text-justify">
    <h1
      class="text-left text-2xl font-bold text-gray-800 dark:text-white md:text-4xl mb-8"
    >
      Note:
    </h1>

    <ul
      class="divide-y divide-gray-200 dark:divide-gray-700 list-disc list-inside text-justify"
    >
      <li class="py-2 sm:py-3">
        It is mandatory that one author of an accepted paper has to make
        registration in order to make the paper appear in the Technical
        Program and be included in the Conference Proceedings.
      </li>
      <li class="py-2 sm:py-3">
        Registration fee of a paper will be decided on the basis of the country
        of the first author's affiliation.
      </li>
      <li class="py-2 sm:py-3">
        There are no other charges from our side. Bank transaction charges will
        be applicable in addition to the registration fee.
      </li>
      <li class="py-2 sm:py-3">
        To avoid wastage of time, only one author will be allowed to present the
        paper and the presenter will be entitled to receive a certificate of
        presentation. All other authors of the paper may attend the online
        presentation session without any extra charges and certificates will be
        provided to all.
      </li>
      <li class="py-2 sm:py-3">
        The authors are suggested to check their credentials before paying the
        registration fee and save the bank payment receipt.
      </li>
      <li class="py-2 sm:py-3">
        After paying the registration fee, the bank payment receipt is required to
        be submitted within two days of the payment through a Google Form. Link
        will be provided through Email after acceptance of the paper.
      </li>
      <li class="py-2 sm:py-3">
        Registration fee must be paid by wire transfer/online mode. Cash, demand
        draft, or cheque will not be accepted.
      </li>
      <li class="py-2 sm:py-3">
        The authors are required to mention the Paper ID in the purpose or
        remark field while doing the payment.
      </li>
      <li class="py-2 sm:py-3">
        The request for refunding the registration fee will not be considered in
        any case.
      </li>
    </ul>

    <h1
      class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl my-8"
    >
      Call For Reviewers
    </h1>

    <p class="my-8 text-justify">
      Faculty members, researchers, and industry professionals interested in
      joining as reviewers are invited to fill out the following <Link
        href="https://forms.gle/KdiGjhSo7s9WkLyS9">Google Form</Link
      >. Eligibility for reviewers requires either a completed or ongoing Ph.D.
      Each reviewer will be awarded a Certificate of Reviewer.
    </p>
    </div>
  </Container>
</section>
