  ---
  import Container from "./ui/Container.astro";
  ---


    <section class="text-center space-y-10 scroll-mt-24" id="important-dates" >
      <Container>
      <h1 class="text-2xl font-bold text-[#06202B] dark:text-[#06202B] md:text-4xl mb-6">
        Important Dates
      </h1>

      <table class="table-auto rounded-lg overflow-hidden mx-auto">
        <thead>
          <tr>
            <th class="px-4 py-2 bg-[#077A7D] text-[#E7F7F7]">Details</th>
            <th class="px-4 py-2 bg-[#077A7D] text-[#E7F7F7]">Date</th>
          </tr>
        </thead>
        <tbody class="text-[#06202B]">
          <tr>
            <td class="border px-4 py-2">Full Length Paper Submission Deadline</td>
            <td class="border px-4 py-2">October 1, 2025</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Acceptance Full Length Paper</td>
            <td class="border px-4 py-2">December 15, 2025</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Camera - Ready Submission</td>
            <td class="border px-4 py-2">January 15, 2026</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Registration</td>
            <td class="border px-4 py-2">January 15, 2026</td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Conference</td>
            <td class="border px-4 py-2">February 19–20, 2026</td>
          </tr>
        </tbody>
      </table>
      </Container>
    </section>

