---
import Container from "./ui/Container.astro";
import Link from "./ui/Link.astro";

// Publication

// All the full-length papers presented at the conference will be submitted to the IEEE Xplore Digital Library (Scopus Indexed) (IEEE Conference Record No. 58432), subject to meeting IEEE's quality requirements and publication policy.
// IEEE Conference Number: 58432
// Xplore Compliant ISBN: 979-8-3503-7212-0
// Part Number: CFP24KZ7-ART
---


  <section id="publication" class="scroll-mt-10 py-16 bg-white">
  <Container>
    

    <h1 class="text-2xl font-bold text-center text-[#06202B] md:text-4xl mb-10">
      Manuscript Submission and Publication
    </h1>

    <div class="space-y-12 text-[#06202B]">
      <!-- Submission -->
      <div>
        
        <h3 class="text-xl md:text-2xl font-bold text-center mb-4">Submission</h3>
        <p class="text-justify text-base md:text-lg">
          Kindly submit your manuscript through the provided
          <Link href="https://cmt3.research.microsoft.com/ICMC2026">Microsoft CMT</Link>
          system link.Submissions via email will not be accepted. <br> <br> The Microsoft CMT service will be  used for managing the peer-reviewing process for this conference. This service was provided for free by Microsoft and they bore all expenses, including costs for Azure cloud services as well as for software development and support.
        </p>
      </div>

      <!-- Indexing -->
      <div>
        <h3 class="text-xl md:text-2xl font-bold text-center mb-4">Abstracting/Indexing of CCIS Springer</h3>
        <p class="text-justify text-base md:text-lg">
          CCIS is abstracted/indexed in DBLP, Google Scholar, EI-Compendex, Mathematical Reviews,
          SCImago, <span class="font-bold text-[#077A7D]">Scopus</span>. CCIS volumes are also
          submitted for the inclusion in ISI Proceedings.
        </p>
      </div>

      <!-- Publication -->
      <div>
        <h3 class="text-xl md:text-2xl font-bold text-center mb-4">Publication</h3>
        <p class="text-justify text-base md:text-lg">
          The proposal to publish the proceedings of ICMC’26 has been approved by Springer’s
          Communications in Computer and Information Science (CCIS) series. All accepted and
          registered papers from ICMC’26 will be submitted for publication in the CCIS series by
          Springer.
          <br />
          <Link href="https://www.springer.com/series/7899">Springer CCIS</Link>
        </p>
      </div>

      <!-- Logos -->
      <div>
        <h3 class="text-xl md:text-2xl font-bold text-center mb-6">Publication Partner</h3>
        <div class="flex flex-col sm:flex-row gap-8 items-center justify-center">
          <img src="/images/logos/Springer Logo.png" alt="Springer" class="h-16 w-auto" />
          <img src="/images/logos/CCIS Logo.jpg" alt="CCIS" class="h-16 w-auto" />
          <img src="/images/logos/Scopus Logo.png" alt="Scopus" class="h-16 w-auto" />
        </div>
      </div>
    </div>
  </Container>
</section>
