---
import Container from "./ui/Container.astro";
import Link from "./ui/Link.astro";
---

<Container>
  <section
    id="venue"
    class="text-center flex md:flex-row flex-col space-y-4 w-full"
  >
    <div class="flex-1 w-full md:w-1/3">
      <h1 class="text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Venue
      </h1>
      <!-- address -->
      <div class="text-center">
        <p class="text-lg font-medium">
          GSFC University, Vigyan Bhavan, P. O, Fertilizer Nagar, Vigyan Bhavan,
          Vadodara - 391750, Gujarat, India
        </p>
      </div>
      <!-- maps iframe -->
      <div class="w-full my-8 rounded-md">
        <iframe
          width="100%"
          height="260"
          class="overflow-hidden rounded-lg"
          src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=+(GSFC%20University)&t=&z=16&ie=UTF8&iwloc=B&output=embed"
        ></iframe>
      </div>
    </div>
    <div class="flex-1 w-full md:w-2/3">
      <h1 class="text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Contact Us
      </h1>

      <div class="flex flex-col space-y-8 mt-8">
        <div class="text-center">
          <p class="text-lg font-medium">Dr. Jahanvi Bansal</p>
          <Link href="tel:+919717666515">+91 97176 66515</Link>
          <br />
          <Link href="mailto:jahanvi.bansal@gsfcuniversity.ac.in"
            >jahanvi.bansal@gsfcuniversity.ac.in</Link
          >
        </div>

        <div class="text-center">
          <p class="text-lg font-medium">Dr. Priya Goel</p>
          <Link href="tel:+9173009371005">+91 73009 37100</Link>
          <br />
          <Link href="mailto:priya.goel@gsfcuniversity.ac.in"
            >priya.goel@gsfcuniversity.ac.in</Link
          >
        </div>

        <div class="text-center">
          <p class="text-lg font-medium">Ms. Swati Saxena</p>
          <Link href="tel:+919825177310">+91 9825177310</Link>
          <br />
          <Link href="mailto:swati.saxena@gsfcuniversity.ac.in"
            >swati.saxena@gsfcuniversity.ac.in</Link
          >
        </div>
      </div>
    </div>
  </section>
</Container>
